<h1>Mission</h1>


<table border="1">
  <tr>
  <th>Mission</th>
  <th>Target</th>
  <th>Vehicle</th>
  <th>Launch Date</th>
</tr>
<tr>
  <th><%= @mission.title %></th>
  <th><%= @mission.target %></th>
  <th><%= @mission.vehicle_name %></th>
  <th><%= @mission.launch_date %></th>
</tr>
</table>




